@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="~/Content/index.css"/>
       <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
            <nav class="navbar transparent navbar-inverse">
                <div class="container-fluid">                    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                  
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"> Home </a></li>
                            <li><a href="#about-us">About Us</a> </li>
                            <li><a href="#services-section">Services</a> </li>                       
                            <li><a href="#contact">Contact</a> </li>
                         	<li><a href="#" style="background-color:cadetblue;">Login</a> </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="margin: 0 auto; width: 670px;">
                <div class="header-content">
                    <img src="~/Content/resources/hexagons.png" style=" width: 346px; height:100%; display: inline-block;" />
                </div>
                <div class="logo">
                    <div class="logo-text">Student Accommodation</div>
                    <div class="logo-details">
                       <p id="text">Find your perfect student house with Studentpad today!</p>
                    </div>
                </div>
            </div>

        </header>
        <section id="about-us">
            <div class="container">
                <div class="about-us ">
                    <h2>About Us</h2>
                    <div class="about-us-content">
                        <p> Welcome to the official University of Southampton and Southampton Solent University student accommodation search engine. </p>
                        <p> 
                        The purpose of the scheme is to ensure that students have access to a supply of high quality, safe accommodation that is well managed.
                        Join to get property alerts emailed directly to you whenever accommodation comes available that matches what you are looking for!
                         Whether it’s a student house, flat, lodging or shared housing; 
                        Studentpad will help you find your perfect student home in Southampton. </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-section" id="services-section">
            <div id="services" class="container" style=" width: 38%; margin: 0 auto;">
                <h2>Services</h2>
                <div style="margin:0 auto; width:55%;">
                    <div style="margin-bottom: -50px;">
                        <div id="services-business">
                            <img src="~/Content/resources/home-512.jpg">
                            <p>Housing advice</p>
                        </div>
                        <div id="services-marketing">
                            <img src="~/Content/resources/key-6-xxl.png">
                            <p>Complete Services</p>
                        </div>
                    </div>
                    <div style="margin-top:-50px;">
                        <div id="services-data">
                            <img src="~/Content/resources/data-science-white.png">
                            <p>Price Statistics</p>
                        </div>
                        <div id="services-competitive">
                            <img src="~/Content/resources/landlord.png">
                            <p>Landlord Information</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tiny-section">
        </section>
        <section>
            <div>               
                <div id="myCarousel" class="carousel slide" data-ride="carousel">            
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active" style=" background-image: linear-gradient(to right, #19797d,#17497d );"></li>
                        <li data-target="#myCarousel" data-slide-to="1" style=" background-color: gray;"></li>
                        <li data-target="#myCarousel" data-slide-to="2" style=" background-color: gray;"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <h2>Available Properties</h2>
                    <div class="carousel-inner custom-carousel" style="padding-bottom: 6%;  ">
                        <div class="item col-md-4" style="display:inline-block; opacity:0.9; vertical-align:top;">
                            <img src="https://www.businessleader.co.uk/wp-content/uploads/2017/08/Student-accommodation.png" alt="Lorem Ipsum" style="width:100%;height: 350px;">
                            <div class="carousel-caption caption-customize" style="position: initial; color: gray; text-shadow: initial; padding-bottom: 0px;">
                                <h3 style="background-image:url(./resources/line.png); background-repeat: no-repeat;  background-size: contain; width: 30%; text-align: center; margin: 24px auto; padding-bottom:3px;">Flats</h3>
                                <p class="caption-text">
                                    All properties advertised on the Home Search part of this website must comply with the SASSH Property
                                	Accreditation Standards, or in the case of rooms let as lodgings within a landlord’s own home, the SASSH Standards for Rooms
                                    <br/><a href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="item  active  col-md-4" style="display:inline-block; vertical-align:top">
                            <img src="http://thestudenthousingcompany.com/media/Studio-764-.jpg" alt="Lorem Ipsum2" style="width:100%;height: 350px;">
                            <div class="carousel-caption caption-customize" style="position: initial;color: gray; text-shadow: initial; padding-bottom: 0px;">
                                <h3 style="background-image:url(./resources/line.png); background-repeat: no-repeat;  background-size: contain; width: 30%; text-align: center; margin: 24px auto; padding-bottom:3px;">2 to 6 Bedrooms Houses</h3>
                                <p class="caption-text">
                                   We currently serve over 100 higher education institutions throughout the UK and counting. Whether you are looking for
                                    rooms in private student houses, on-campus, or your own flat, you’ll find it on your local studentpad site.
                                    <br/><a href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="item col-md-4" style="display:inline-block; opacity:0.9;vertical-align:top">
                            <img src="https://www.collegiate-ac.com/files/eclipse_luxury_student_accommodation_cardiff_7.crop-list.jpg" alt="Lorem Ipsum3" style="width:100%;height: 350px;">
                            <div class="carousel-caption caption-customize" style="position: initial;color: gray; text-shadow: initial; padding-bottom: 0px;">
                                <h3 style="background-image:url(./resources/line.png); background-repeat: no-repeat;  background-size: contain; width: 30%; text-align: center; margin: 24px auto; padding-bottom:3px;">Modern Studios</h3>
                                <p class="caption-text">
                                  Studentpad is the number one platform for student accommodation. Find student rooms in your city with our modern,
                                   fast, and user-friendly databases for student housing. 
                                    <br/><a href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <a class="left carousel-control custom" href="#myCarousel" data-slide="prev">
                        <span>
                            <img src="~/Content/resources/left_arrow.png" id="arr-right">
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control custom" href="#myCarousel" data-slide="next">
                        <span>
                            <img src="~/Content/resources/right_arrow.png" id="arr-right">
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

        </section>
        <section class="tiny-section">
        </section>
        <footer>
            <div class="container" id="contact" style="padding-top:80px;">
                <h2>Contact</h2>               
                <form>
                    <input type="text" id="email" name="email" placeholder="Your Email Address..."  />
                  <textarea rows="5" cols="30" placeholder="Your Message Here..."></textarea><br />
                    <button class="input-go btn btn-block" style="margin-bottom: 30px;">Send</button>
                </form>
                <div class="contact">
                    <p id="twitter"></p>
                    <p id="facebook"></p>
                    <p id="github"></p>
                    <p id="youtube"></p>
                </div>
            </div>
            <p id="author">Proudly built by Emanuela-Felicia Colta</p>
        </footer>
        <script src="~/Content/jquery.min.js"></script>
        <script src="~/Content//bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
    </body>
</html>
